---
title: Tags
layout: single
permalink: /tags/
header:
  image: /assets/images/semanticlab-header.png
---


{% assign sorted_tags = (site.tags| sort:0) %}
{% for tag in sorted_tags %}
	{% assign c = tag | first %}
	{% assign posts = tag | last %}
	<a class="btn btn--inverse" href="#{{ c | slugify }}">{{ c }} <span class="size">({{ posts.size }})</span></a>
{% endfor %}

{% include base_path %}
{% include group-by-array collection=site.posts field="tags" %}

{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h4 id="{{ tag | slugify }}" class="archive__subtitle">{{ tag }}</h4>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}
